
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 8fr;
  min-height: 100vh;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;

}

.dashboard {
  display: grid; 
  justify-content: center;
  background-color: rgb(153, 66, 15);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 10px;
  grid-template-rows: 1fr 6fr;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


.add-book-button , .reset-shelf-button {
  width: 150px;
  height: 50px;
  display: block;
}


.main {
  display: grid;
  background-color: rgb(242,220,177);
  grid-template-columns: repeat(5, 3fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px;

}


.book-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 300px;
  height: 400px;
  background-color: rgb(255, 204, 103);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 15px solid rgb(190,143,60);
  border-bottom: 12px solid wheat;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  
}


.book-title {
  font-size: 20px;
}

.book-author {
  font-size: 20px;
}

.books-pages {
  font-size: 20px;
}

.book-info {
  font-size: 0.9rem;
}


.book-form-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.book-form-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  top: 15%;
  left: 40%;
  background-color: rgb(255, 204, 103);
  border-left: 30px solid rgb(190,143,60);
  border-bottom: 15px solid wheat;
  width: 100%; 
  max-width: 450px;
  height: 63%;
  border-radius: 8px;
}


.form-group {
  display: grid;
  grid-template-columns: 2fr 4fr; 
  gap: 15px;
  align-items: center;
  
}

.form-group-status {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  gap: 15px;
  
}

.read-status {
  margin-right: 30px;
}

.form-group-status select {
  width: 100%; 
}


.close-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.book-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-top: 10px;
  padding-right: 25px;


}

label {
  margin-left: 20px;
}

textarea {
  height: 200px;
  width: clamp(250px, 100% , 400px);
  padding: 12px;
  resize: none;
}

input {
  width: clamp(250px, 100% , 400px);
  height: 40px;
  padding: 12px;
}



button {
  width: 120px;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
}

.submit-button {
  margin-top: 12px;
  margin-left: 150px;
}

.book-button {
  width: 80px;
  height: 30px;
}

.on-going-status {
  background-color: green;
  color: white;
}