
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 8fr;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

}

.dashboard {
  display: grid; 
  background-color: green;
  grid-column: 1 / 2;
  grid-row: 1 / 8;
}

.main {
  display: grid;
  background-color: whitesmoke;
  border: 1px solid black;
  grid-column: 2 / 8;
  grid-row: 2 / 8;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  gap: 30px;
  padding: 50px;

}


.book {

  height: 350px;
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid rgba(13, 90, 61, 0.86);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  
  
}
